 
 <ng-container *ngIf="user$ | async as user">
  

<div class="container mt-4" *ngIf="user.role === 'ADMIN' || user.role === 'JOBSEEKER'" >
  <div class="card shadow-sm">
    <div class="card-body">
      <h5 class="card-title">Your CV</h5>
      <p class="mb-1 text-muted">Used by default</p>

      <div class="d-flex justify-content-between align-items-center mb-3">
        <div *ngIf="loading" class="text-center my-5">
  <div class="spinner-border text-primary" role="status"></div>
</div>
        <div *ngIf="data">
          <strong >{{ data.fileName }}</strong><br />
          <small class="text-muted">Added on {{ data.dateUploaded }}</small>
        </div>
        <button class="btn btn-outline-primary" (click)="downloadCv()">Download</button>
          <button class="btn btn-outline-danger" (click)="DeleteCV()">Delete</button>
      </div>

      <hr />

      <h6>Replace your CV</h6>
      <div class="mb-3">
        <input
          type="file"
          class="form-control"
          (change)="onFileSelected($event)"
          [accept]="acceptedTypes"
        />
        <small class="form-text text-muted">
          Accepted formats: {{ acceptedTypes }} | Max size: 4MB
        </small>
      </div>

      <button class="btn btn-success" (click)="uploadCv()" [disabled]="!selectedFile">
        Replace CV
      </button>
    </div>
  </div>
</div>
</ng-container>