<ng-container *ngIf="user$ | async as user">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">JobBoard</a>

    <div class="d-flex" >
      <span class="navbar-text text-white me-3">Welcome, {{ user.username }}</span>

     
      <!-- Jobseeker-only -->
      <button *ngIf="user.role === 'JOBSEEKER'" class="btn btn-outline-light btn-sm me-2" routerLink="/jobseeker/profile">My Profile</button>

      <!-- Admin-only -->
      <button *ngIf="user.role === 'ADMIN'" class="btn btn-outline-warning btn-sm me-2" routerLink="/admin/dashboard">Admin Panel</button>

      <button class="btn btn-outline-danger btn-sm" (click)="logout()">Logout</button>
    </div>
  </div>
</nav>
</ng-container> 