 <ng-container *ngIf="user$ | async as user">
  
 <h5 class="mt-5 mb-3" *ngIf="user.role === 'ADMIN' || user.role === 'JOBSEEKER'" >Vacancies that you have applied for</h5>
 <div *ngIf="loading" class="text-center my-5">
  <div class="spinner-border text-primary" role="status"></div>
</div>
       <ul class="list-group">
        <li class="list-group-item" *ngFor="let item of data">
          
        Job Title: {{ item.jobTitle }}<br>
              Job Description: {{ item.jobDescription }}<br>
          End Date: {{ item.location }} – {{ item.endDate }}<br>
          
          Salary: {{ item.salary }}
          Date Posted: {{ item.datePosted }}
          Category: {{ item.category }}


        </li>
      </ul>
    </ng-container>
      













