<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          placeholder="Job title, skill, or company"
          [(ngModel)]="searchTitle"
        />
        <input
          type="text"
          class="form-control"
          placeholder="City, district or province"
          [(ngModel)]="searchLocation"
        />
        <button class="btn btn-primary" (click)="onSearch()">Find Jobs</button>
      </div>
    </div>
  </div>
</div>